window {
  background: transparent;
  font-size: 12px;
  font-family: "Roboto,Noto Sans CJK";
  font-weight: 400;
}

box.main {
  padding: 0px 0px 0px 5px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid rgb(137, 180, 250);
  background-color: rgb(30, 30, 46);
  box-shadow: 0 0 5px black;
}


text {
  min-height: 30px;
  padding: 5px;
  border-radius: 5px;
  color: rgb(205, 214, 244);
}

.matches {
  background-color: rgb(30, 30, 46);
  border-radius: 10px;
}

box.plugin:first-child {
  margin-top: 5px;
}

box.plugin.info {
  min-width: 200px;
}

list.plugin {
  background-color: rgba(0, 0, 0, 0);
}

label.match.description {
  font-size: 14px;
}

label.plugin.info {
  font-size: 14px;
}

.match {
  background: transparent;
}

.match:selected {
  background-color: rgba(137, 180, 250, 0.2);
  font-weight: 600;
  animation: fade 0.1s linear;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
