@import "mocha.css";

* {
  min-height: 0;
}

window#waybar {
  background-color: transparent;
  color: @overlay2;
}

#taskbar {
  border-radius: 9999px;
  background-color: @mantle;
  border: 3px solid @blue;
  margin-bottom: 8px;
}

#taskbar button {
  background-color: @mantle;
  border-radius: 0px;
}

#taskbar button.active {
  background-color: @surface0;
}

#taskbar.empty {
  background-color: transparent;
  border: none;
}

#taskbar button:first-child {
    border-radius: 99px 0 0 99px;
}

#taskbar button:last-child {
    border-radius: 0 99px 99px 0;
}

#taskbar button:first-child:last-child {
    border-radius: 99px;
}

#tray {
  padding: 8px;
  margin-bottom: 8px;
  background-color: @mantle;
  border-radius: 9999px;
  border: 3px solid @blue;
  margin-right: 8px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

window#waybar.right box.modules-center {
  margin-top: 8px;
  background-color: @mantle;
  border-radius: 9999px;
  border: 3px solid @blue;
  margin-right: 8px;
}

#workspaces {
  margin-top: 8px;
  background-color: @mantle;
  border: 3px solid @blue;
  border-radius: 9999px;
  margin-right: 8px;
}

#workspaces button:first-child {
    border-radius: 99px 99px 0 0;
}

#workspaces button:last-child {
    border-radius: 0 0 99px 99px;
}

#workspaces button:first-child:last-child {
    border-radius: 99px;
}

#wireplumber {
  margin-top: 8px;
}

#clock {
  margin-bottom: 8px;
  font-weight: bold;
}
